.features {
  .container-main {
    max-width: 910px;
    padding: 0 15px;
  }
}

.features__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__item {
  max-width: 300px;
  margin-top: 88px;
  display: flex;
  transition: .4s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #000;
  }
}

.features__icon {
  width: 75px;
  height: 50px;
  font: 3.57rem $primary-font;
  padding: 3px 0 0 3px;

}

.features__item__wrap {
  max-width: 199px;
}

.features__title {
  font: bold 1.57rem $primary-font;
  color: $black;
}

.features__subtitle {
  font: 1.14rem $primary-font;
  color: $gray;
}