.main-header__wrap {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title_wrap {
  max-width: 494px;
  text-align: center;
}

.main-header__title {
  font: bold 3.43rem $primary-font;
  color: $mine-shaft;
}

.main-header__subtitle {
  font: 1.43rem $primary-font;
  color: $mine-shaft;
}

.main-header__arrow {
  position: absolute;
  bottom: -40px;
  font: 2.29rem $primary-font;
  color: $mine-shaft;
}