html {
  font: 14px $primary-font;
}

.main-header {
  background-color: #fcdb00;
  min-height: 100vh;


  .container-main {
    padding: 60px 15px 54px;
    height: 100vh;
  }
}

.hide-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60%;
  background: #717171;
  padding: 15px;
  font: 1rem $primary-font;
  z-index: 9;
}

.hide-menu__item {
  padding: 15px 0;
}

.hide-menu__link {
  font: 1.29rem $primary-font;
  color: $black;
  transition: .4s;

  &:hover {
    color: #fff;
  }
}

.hide-menu__item-close {
  position: fixed;
  top: 10px;
  cursor: pointer;
  left: 60%;
  z-index: 9;
  display: none;
}