.portfolio {
  margin-top: 195px;
  padding: 0 15px;

  .container-main {
    max-width: 942px;

  }
}

.portfolio__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__item {
  text-align: center;
  max-width: 220px;
  margin: 65px auto 0;
}

.portfolio__img {
  position: relative;
}

.portfolio__counter {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font: 1rem $primary-font;
  color: #fff;
}

.fa-eye {
  padding-right: 5px;
}

.fa-clock {
  padding-left: 5px;
}

.portfolio__title {
  font: bold 1.57rem $primary-font;
  color: $black;
  margin-top: 20px;
}

.portfolio__subtitle {
  font: 1.07rem $primary-font;
  color: $gray;
  margin-top: 8px;
}