.pricing {
  margin-top: 234px;
  padding:  0 15px;
}

.pricing-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing__item {
  max-width: 163px;
  text-align: center;
  padding: 0 50px 0;
  margin-top: 40px;

  &:nth-child(2) {
    .pricing__icon {
      background: $black;
      color: #fff;
    }
  }

}

.pricing__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 103px;
  height: 103px;
  border-radius: 60px;
  background: #ebebeb ;
}

.pricing__title {
  font: bold 1.71rem $primary-font;
  margin-top: 22px;
  color: $black;
}

.pricing__desc {
  font: 1rem $primary-font;
  color: $gray;
  margin-top: 26px;
}

.pricing__price {
  font: bold 2.29rem $primary-font;
  color: $black;
  margin-top: 45px;

  &:after {
    content: "";
    display: block;
    width: 53px;
    height: 2px;
    background: $black;
    margin: auto;
  }
}

.pricing__time {
  font: 1.14rem $primary-font;
  color: $gray;
  margin-top: 8px;
}

.pricing__order {
  margin-top: 36px;
}

.pricing__link {
  padding: 20px 0;
  font: 1.14rem $primary-font;
  border: 1px solid $black;
  color: $black;
  width: 143px;
}