.primary-main {
  padding: 116px 0 74px;
}

.primary-main__title {
  font: bold 2.29rem $primary-font;
  color: $black;
  text-align: center;
  margin: 0 0 17px 0;
}

.primary-main__subtitle {
  font: 1.43rem $primary-font;
  color: $gray;
  text-align: center;
  max-width: 714px;
  margin: auto;
}