.team {
  padding: 0 15px;
  margin-top: 264px;

  .container-main {
    max-width: 865px;
  }
}

.team-wrap {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  max-width: 163px;
  text-align: center;
  margin: 30px auto 0;
  transition: .4s;
  padding: 5px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #000;
  }
}

.team__title {
  font: 1.57rem $primary-font;
  color: $black;
  margin-top: 42px;
}

.team__subtitle {
  font: 1.14 $primary-font;
  color: $gray;
  margin-top: 12px;
}

.team__desc {
  font: 1rem $primary-font;
  color: #313841;
  margin-top: 16px;
}

.team__icon {
  margin-top: 13px;
}

.team__social__link {
  font: 1.14rem $primary-font;
  color: $black;
  margin: 0 7px;

  &:hover {
    color: $school-bus-yellow;
  }
}