include bemto-master/bemto.pug
include _var

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Tinyone
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/all.css')
  body
    header.main-header
      .container-main
        .main-header__head
          .mobile-menu
            i.fas.fa-bars
          a.logo(href='')
            img(src='../src/images/logo.png', alt='')
          +b.UL.social
            for name in social
              +e.LI.icon
                +e.A.link(href='')
                  i(class= name.link1)
        .main-header__wrap
          .title_wrap
            h1.main-header__title Inspire your inspiration
            p.main-header__subtitle
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
              | eros eget tellus tristique
              | bibendum. Donec rutrum sed sem quis venenatis.
            a.btn.btn-head(href='') Get start
          a.main-header__arrow(href='#tofeatures')
            i.fas.fa-long-arrow-alt-down
          -var hideMenu = [{link1: "Features"},{link1: "Pricing"},{link1: "Portfolio"},{link1: "Team"},{link1: "Testimonial"},{link1: "Contact us"},{link1: "Subscribe"},]
      +b.UL.hide-menu
        for name in hideMenu
          +e.LI.item
            +e.A.link(href='#tofeatures')=name.link1
      .hide-menu__item-close
        i(class="far fa-times-circle")
    main.primary-main
      +b.SECTION#tofeatures.features
        .container-main
          h2.primary-main__title Tinyone features
          p.primary-main__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
            | eros eget tellus tristique
            | bibendum.
            | Donec rutrum sed sem quis venenatis.
          +e.wrap
            for name in features
              +e.item
                +e.icon
                  i(class= name.link1)
                +e.item__wrap
                  +e.title=name.link2
                  +e.P.subtitle=name.link3
      +b.SECTION#price.pricing
        h2.primary-main__title Pricing And Free Trial
        p.primary-main__subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
          | eros eget tellus tristique
          | bibendum.
          | Donec rutrum sed sem quis venenatis.
        .pricing-wrap
          for name in pricing
            +e.item
              +e.icon
                i(class= name.link1)
              +e.title=name.link2
              +e.desc=name.link3
              +e.price=name.link4
              +e.time=name.link5
              +e.order
                a.btn.pricing__link(href='')=name.link6
      +b.SECTION#portfolio.portfolio
        .container-main
          h2.primary-main__title Our works
          p.primary-main__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
            | eros eget tellus tristique
            | bibendum.
            | Donec rutrum sed sem quis venenatis.
          +e.wrap
            for name in work
              +e.item
                +e.img
                  img(src= name.link1, alt='')
                  +e.counter
                    +e.views
                      i(class= name.link2)
                      = name.link3
                    +e.published= name.link4
                      i(class= name.link5)
                +e.title= name.link6
                +e.subtitle= name.link7
      +b.SECTION#team.team
        .container-main
          h2.primary-main__title Our teaml
          p.primary-main__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
            | eros eget tellus tristique
            | bibendum.
            | Donec rutrum sed sem quis venenatis.
          .team-wrap
            for name in team
              +e.item
                +e.thumbnails
                  img(src= name.link1, alt='')
                +e.title=name.link2
                +e.subtitle=name.link3
                +e.desc=name.link4
                +e.icon
                  +e.A.social__link(href='')
                    i.fab.fa-facebook-f
                  +e.A.social__link(href='')
                    i.fab.fa-twitter
                  +e.A.social__link(href='')
                    i.fab.fa-linkedin-in
      +b.SECTION#testimonial.testimonial
        .container-main
          h2.primary-main__title Stats & Testimonial
          p.primary-main__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
            | eros eget tellus tristique
            | bibendum.
            | Donec rutrum sed sem quis venenatis.
          .testimonial-wrap
            for name in testimonial
              +e.item
                +e.icon
                  i(class= name.link1)
                +e.total= name.link2
                +e.desc=name.link3
          .team-wrap
            .team__item.team__item-testimonial
              .team__thumbnails
                img(src='images/ellipse-7.png', alt='')
              .team__title John Doe
              .team__subtitle From Wỏdpress
              .team__desc.team__desc-testimonial
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
                | tristique bibendum. Donec rutrum sed sem quis venenatis.
                i.fas.fa-quote-left
                i.fas.fa-quote-right
      +b.SECTION#contact-us.contact-us
        .container-main
          h2.primary-main__title Keep in touch with us
          p.primary-main__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
            | eros eget tellus tristique
            | bibendum.
            | Donec rutrum sed sem quis venenatis.
          .contact-us-wrap
            for name in contactUs
              +e.item
                +e.icon
                  i(class= name.con1)
                +e.title=name.con2
                +e.desc
                  +e.A.link(href='')=name.con3
          form.form.form__contact-us(action='', method='post')
            input.form__email(type='email', placeholder='Email ')
            input.form__text(type='text', placeholder='Full name')
            textarea.form__message(name='', id='', cols='30', rows='10', placeholder='Message')
            input.btn.form__submit(type='submit', value='Send Message')
    footer.main-footer
      .container-main
        +b#subscribe.newsletter
          .container-main
            +e.H2.title Sign up for our newsletter
            +e.P.subtitle
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
              | eros eget tellus tristique
              | bibendum.
              | Donec rutrum sed sem quis venenatis.
            form.form.form__newsletter(action='', method='post')
              input.form__email.form__email_subs(type='email', placeholder='Enter your email to update')
              input.btn.form__submit.form__submit_newsletter(type='submit')
        +b.nav-link
          for name in footerListLink
            +e.UL.item
              +e.li.list
                +e.A.link(href='')= name.link1
              +e.LI.list
                +e.A.link(href='mailto:contact@halovietnam.com')= name.link2
              +e.LI.list
                +e.A.link(href='tel:+84435149182')= name.link3
              +e.LI.list
                +e.A.link(href='')= name.link4

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    script(src='scripts/mobile-menu.js')
